

.cabecera{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.cabecera img{
    width: 20%;
}

.menu ul{
    gap:  15px;
    display: flex;
}

